# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Uploads
uploads/
app/static/uploads/
app/static/audio/

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.dbmodels/fertilizer_model.pkl 
